*.sw*
*.caffemodel 
models/caffe_model/VGG_ILSVRC_16_layers.caffemodel
models/caffe_model/bvlc_googlenet.caffemodel
models/caffe_model/bvlc_reference_caffenet.caffemodel
models/caffe_model/nin_imagenet.caffemodel
models/matconvnet_model/imagenet-caffe-ref.mat
www/
result/
T_*.m
