*.sw*
*.caffemodel 
models/VGG_ILSVRC_16_layers.caffemodel
models/bvlc_googlenet.caffemodel
models/bvlc_reference_caffenet.caffemodel
models/nin_imagenet.caffemodel
models/imagenet-caffe-ref.mat
models/imagenet-vgg-verydeep-19.mat
www/
result/
T_*.m
